.sort-algo {
	display: flex;

	&__list {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
		gap: 1rem;
		text-align: center;
		margin-left: 1rem;
	}

	&__item {
		background-color: $black;
		padding: 0.6rem 1.5rem;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.2s linear;
		border: 1px solid $black;

		&--active,
		&:active {
			background-color: darken($orange, 8%);
			color: $white;
			border: 1px solid lighten($orange, 5%);
		}

		&:hover {
			background-color: $orange;
			color: $white;
			border: 1px solid lighten($orange, 5%);
		}
	}
}
