.sort-by {
	position: relative;
	display: flex;
	gap: 2rem;

	&__popup-btn {
		font-family: inherit;
		color: inherit;
		background-color: $black;
		padding: 0.6rem 1.5rem;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.2s linear;
		border: 1px solid $black;

		&:active {
			background-color: darken($orange, 7%);
			color: $white;
			border: 1px solid lighten($orange, 5%);
		}

		&:hover {
			background-color: $orange;
			color: $white;
			border: 1px solid lighten($orange, 5%);
		}
	}
}
