// BG COLORS
$primary: #202020;
$secondary: #2a2a2a;
$header: #0d0d0d;
$input: #1a1a1a;
$orange: #e95420;
$white: #fff;
$block: #141414;

// TEXT COLORS
$text-main: #d1d1d1;
$text-gray: #999;
$text-input: #666;
$separator: #222;

// BORDERS
$border-input: #222;
$border-input-hover: #333;

// MEDIA-SCREENS
$screen-1280: 1280px;
$screen-1140: 1140px;
$screen-1050: 1050px;
$screen-880: 880px;
$screen-375: 375px;
