@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@import 'reset';
@import 'vars';
@import 'mixins';

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	background: $gray-8;
	font-family: 'Poppins', sans-serif;
	font-size: 1.4rem;
	color: $gray-1;
	line-height: 1.6;
	display: grid;
	font-weight: 400;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'header header header'
		'body body body'
		'footer footer footer';
}

.header-area {
	grid-area: header;
	background-color: $black;
	box-shadow: 0 3px 0px rgba(#2a2a2a, 0.4);
	z-index: 5;
}

.body-area {
	grid-area: body;
	box-shadow: 0 3px 0px rgba(#2a2a2a, 0.4);
	z-index: 3;
}

.footer-area {
	grid-area: footer;
	background-color: $black;
}

.main {
	padding: 3rem 0;
}

.container {
	max-width: 1690px;
	width: 100%;
	margin: 0 auto;
	padding: 0 3rem;

	@include breakpoint($screen-375) {
		padding: 0 1.5rem;
	}
}

.border {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 1.5rem 0;
	margin: 1.5rem 0;
}

@import 'layouts/Header/header';
@import 'layouts/Footer/footer';
@import 'pages/page-index/pool-item';
@import 'pages/page-index/sorting/sort';
@import 'ui/modal';
@import 'ui/popup';
