&__menu {
	margin-right: 5rem;
}

&__menu-title {
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.9rem;
	text-transform: uppercase;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid $gray-7;
}

&__menu-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
}

&__menu-item {
	margin: 1rem 1.5rem 0 1.5rem;
}

&__menu-link {
	line-height: 1.4rem;
	color: $gray-4;
	text-decoration: none;
	position: relative;
	padding-bottom: 0.5rem;
	transition-duration: 0.4s;

	&:hover {
		color: $orange;
		border-bottom: 1px solid $orange;
	}

	&:active {
		color: $gray-1;
		border-bottom: 1px solid $gray-4;
		text-decoration: none;
	}
}
