.footer {
	padding: 2rem 0 0 0;

	&__inner {
		background-color: $black;
		padding: 3rem;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-column-gap: 3rem;
		grid-row-gap: 5rem;
		justify-items: center;
	}

	@import 'menu';
	@import 'copyright';
}
