.header {
	display: flex;
	padding: 2rem 0;
	justify-content: space-between;
	gap: 2rem;
	align-items: center;

	@include breakpoint($screen-1280) {
		padding: 1.5rem 0;
	}

	@include breakpoint($screen-880) {
		flex-direction: column;
	}

	&__logo {
		display: flex;

		@include breakpoint($screen-375) {
			order: 1;
			border-bottom: 1px solid rgba($text-input, 0.3);
			padding-bottom: 2rem;
		}
	}

	&__logo-link {
		display: block;
	}

	&__logo-img {
		max-width: 30px;

		@include breakpoint($screen-1280) {
			max-width: 25px;
		}

		@include breakpoint($screen-1140) {
			max-width: 20px;
		}
	}

	&__logo-text {
		display: flex;
		flex-direction: column;
		padding-left: 1.5rem;
		padding-top: 0.2rem;

		@include breakpoint($screen-1280) {
			padding-top: 0.3rem;
		}

		@include breakpoint($screen-1140) {
			padding-top: 0.1rem;
		}
	}

	&__logo-title {
		font-size: 3rem;
		text-transform: uppercase;
		line-height: 1.2;
		color: $text-main;

		@include breakpoint($screen-1280) {
			font-size: 2.4rem;
		}

		@include breakpoint($screen-1140) {
			font-size: 2rem;
		}

		@include breakpoint($screen-1050) {
			display: none;
		}

		@include breakpoint($screen-880) {
			display: flex;
		}
	}
	&__logo-desc {
		font-size: 1.6rem;
		font-weight: 200;
		color: #ccc;

		@include breakpoint($screen-1280) {
			font-size: 1.4rem;
		}

		@include breakpoint($screen-1140) {
			font-size: 1.2rem;
		}

		@include breakpoint($screen-1050) {
			display: none;
		}

		@include breakpoint($screen-880) {
			display: flex;
		}
	}

	&__search {
		font-size: 1.2rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include breakpoint($screen-375) {
			order: 3;
		}
	}

	&__search-select {
		padding: 1rem 0.7rem 1rem 1.5rem;
		border-radius: 7px;
		background-color: $input;
		border: 1px solid $border-input;
		color: $text-input;

		@include breakpoint($screen-1280) {
			padding: 0.8rem 0.5rem 0.8rem 1rem;
		}

		@include breakpoint($screen-375) {
			padding: 0.8rem 0 0.8rem 1rem;
			font-size: 1.2rem;
			order: 2;
		}
	}

	&__search-select::-ms-expand {
		display: none;
	}

	&__search-select:hover,
	&__search-select:active {
		background-color: $orange;
		border: 1px solid lighten($orange, 10%);
		color: $white;
	}

	&__search-select:focus {
		border: 1px solid $border-input-hover;
		background-color: lighten($input, 3%);
		color: $text-gray;
	}

	&__search-select option {
		font-weight: normal;
	}

	&__search-input {
		margin-left: 1rem;
		min-width: 300px;
		max-width: 400px;
		background-color: $input;
		border: 1px solid $border-input;
		color: $text-input;
		padding: 1rem 1.5rem;
		box-shadow: 0 5px 2px rgba($header, 0.5);
		border-radius: 7px;

		@include breakpoint($screen-1280) {
			padding: 0.8rem 1.2rem;
		}

		@include breakpoint($screen-375) {
			padding: 1rem 0.5rem 1rem 1.5rem;
			font-size: 1.2rem;
			order: 1;
			margin-bottom: 1.5rem;
			margin-left: 0;
		}

		&:focus {
			background-color: lighten($input, 3%);
			color: $text-gray;
			border: 1px solid $border-input-hover;
		}
	}

	&__search-button {
		background-color: $input;
		border: 1px solid $border-input;
		color: $text-input;
		padding: 1rem 1.5rem;
		border-radius: 7px;
		margin-left: 1rem;
		text-transform: uppercase;
		transition: all 0.2s linear;

		&:hover {
			background-color: $orange;
			border: 1px solid lighten($orange, 10%);
			color: $white;
		}

		@include breakpoint($screen-1280) {
			padding: 0.8rem 1.2rem;
		}

		@include breakpoint($screen-375) {
			padding: 0.8rem 1rem;
			font-size: 1.2rem;
			order: 3;
		}
	}

	&__menu {
		position: relative;

		&-popup {
			width: 25rem;
			position: absolute;
			right: 0;
			top: 6rem;
			right: 1.5rem;
			background: $header;
			box-shadow: 0 3px 0 rgba(#555, 0.5);
			border: 1px solid $border-input;
			border-radius: 5px;
			padding: 1.5rem 0;
		}

		&-popup-list {
			overflow: hidden;
		}

		&-popup-title {
			text-align: center;
			color: $orange;
			font-size: 1.6rem;
			font-weight: 500;
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid $separator-light;
		}

		&-popup-item {
			display: flex;
			justify-content: space-between;
			padding: 1rem 1.5rem;
			cursor: pointer;

			&:hover:not(.sort-by__popup-item--active) {
				background-color: lighten($header, 5%);
			}
		}
		&-popup-item--active {
			color: $white;
			background-color: $orange;
		}

		@include breakpoint($screen-375) {
			order: 2;
			border-bottom: 1px solid rgba($text-input, 0.3);
			padding-bottom: 2rem;
		}
	}

	&__menu-list {
		display: flex;
		align-items: center;
	}

	&__menu-item {
		padding: 1rem;

		&--settings {
			background: transparent;
			border: none;

			svg {
				margin-top: 0.5rem;
				fill: #999;
				transition: all 0.2s linear;

				&:hover {
					fill: $text-main;
				}
			}
		}
	}

	&__menu-link {
		font-weight: 300;
		font-size: 1.6rem;
		color: $text-gray;
		padding: 0.7rem;
		text-transform: uppercase;
		text-decoration: none;
		transition-duration: 0.4s;
		padding-bottom: 0.5rem;

		@include breakpoint($screen-1280) {
			font-size: 1.4rem;
		}

		&:hover {
			color: $orange;
			border-bottom: 1px solid $orange;
		}

		&:active {
			color: $text-main;
			border-bottom: 1px solid rgba($text-gray, 0.5);
		}

		&--btn {
			background-color: $input;
			border: 1px solid $border-input;
			color: $text-input;

			border-radius: 7px;

			&:hover {
				background-color: $orange;
				border: 1px solid lighten($orange, 10%);
				color: $white;
				text-decoration: none;
			}
		}
	}
}
