&__menu {
	position: relative;
	grid-area: menu;
	display: flex;
	justify-content: end;
}

&__menu-list {
	display: flex;
	align-items: center;
}

&__menu-item {
	padding: 1rem 0 1rem 2rem;

	&--settings {
		background: transparent;
		border: none;

		svg {
			margin-top: 0.5rem;
			fill: $gray-3;
			transition: all 0.2s linear;

			&:hover {
				fill: $gray-1;
			}
		}
	}

	@include breakpoint($screen-690) {
		display: none;
	}
}

&__menu-link {
	font-weight: 300;
	font-size: 1.6rem;
	color: $gray-3;
	padding: 0.7rem;
	text-transform: uppercase;
	text-decoration: none;
	transition-duration: 0.4s;
	padding-bottom: 0.5rem;

	&:hover {
		color: $orange;
		border-bottom: 1px solid $orange;
	}

	&:active {
		color: $gray-1;
		border-bottom: 1px solid rgba($gray-3, 0.5);
	}

	&--btn {
		background-color: $black-1;
		border: 1px solid $gray-7;
		color: $gray-4;
		border-radius: 7px;

		&:hover {
			background-color: $orange;
			border: 1px solid lighten($orange, 10%);
			color: $white;
			text-decoration: none;
		}
	}

	@include breakpoint($screen-1280) {
		font-size: 1.4rem;
	}
}
