<div class="container">
	<header class="header">
		<div class="header__logo">
			<a href="/" class="header__logo-link">
				<img
					class="header__logo-img"
					src="../../assets/img/logo.png"
					alt="Altcoinpool.ru - Crypto mining pool"
				/>
			</a>
			<div class="header__logo-text">
				<h1 class="header__logo-title">Altcoinpool.ru</h1>
				<h2 class="header__logo-desc">Crypto Mining Pool</h2>
			</div>
		</div>
		<form class="header__search">
			<select class="header__search-select">
				<option selected hidden>POOL</option>
				<option>Coin #1</option>
				<option>Coin #2</option>
				<option>Coin #3</option>
				<option>Coin #4</option>
			</select>
			<input
				class="header__search-input"
				type="text"
				placeholder="Type your wallet address..."
			/>
			<button class="header__search-button" type="submit">Search</button>
		</form>
		<div class="header__menu">
			<ul class="header__menu-list">
				<li class="header__menu-item">
					<a class="header__menu-link" href="/">HOME</a>
				</li>
				<li class="header__menu-item">
					<a class="header__menu-link" href="/">FAQ</a>
				</li>
				<li class="header__menu-item">
					<a class="header__menu-link header__menu-link--btn" href="/"
						>GET STARTED</a
					>
				</li>
			</ul>
		</div>
	</header>
</div>
